@import "compass/css3";
@import "compass/reset";
@import "compass/utilities";

@import "_variables.scss";

$content_width: 780px;

html, body {
	height: 100%;
}

body {	
	font-size: 62.5%;
	font-family: Arial, Helvetica;
	::selection {
		background: $yellow;
	}
	::-moz-selection {
		background: $yellow; 
	}
}

header {
	background: #161516;
	width: 100%;
	display: block;
	height: 84px;
	@include clearfix; 
	.logo { 
		float: left;
		background: url(../images/logo.png) no-repeat;
		width: 150px;
		height: 37px;
		margin: 22px 0px 0px 20px;
	}
	.button {
		float: right;
		border: 2px solid $yellow;
		color: $yellow;
		padding: 10px;
		font-size: 1.8em;
		text-decoration: none;
		margin-right: 30px;
		margin-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
		@include border-radius(4px);
		&:hover {
			border: 2px solid white;
			color: white;
		}
	}
}

#column-wrapper {
	display: table;
	width: 100%;
	position: relative;
}

#sidebar {
	width: 180px;
	background: $sidebar_color;
	display: table-cell;
	vertical-align: top;
	border-right: 2px solid $border_color;
	&.fixed {	
	 	ol {
	 		top: 20px;
			position: fixed;	
	 	}
	}
	ol {
		float: left;
		li {
			float: left;
			clear: left;	
			&.active {
				a{
					background: white;
					border-right: 2px solid white;
				}
			}
			a {
				outline: none;
				margin-right: -2px;
				float: left;
				color: $main_color;
				@include box-sizing(border-box);
				padding: 20px;
				width: 182px;
				border-bottom: 2px solid $border_color;
				font-size: 1.8em;
				text-decoration: none;
				&:hover {
					background: white;
				}
			}
		}
	}
}

#content {
	display: table-cell;
	@include box-sizing(border-box);
	padding: 30px;
	h1 {
		font-size: 3em;
		margin-bottom: 20px;
		margin-top: 20px;
		float: left;
		clear: left;
	}
	h2 {
		@extend h1;
		font-size: 2.2em;
	}
	p {
		font-size: 1.6em;
		line-height: 1.4em;
		float: left;
		clear: left;
		margin-bottom: 10px;
	}
	a {
			color: $main_color;

		}
	strong {
		font-weight: bold;
	}
	pre {
		float: left;
		code {
			float: left;
			width: $content_width;
			font-size: 1.6em;
			line-height: 1.4em;
			.c {
				color: $grey;
			}
		}
	}
	code {
		border: 2px solid $border_color;
		background: $sidebar_color;
		padding: 4px;
		padding-top: 2px;
		padding-bottom: 2px;
		@include border-radius(4px);
		a {
			color: $main_color;
		}
	}
	ol { 
		float: left;
		clear: left;
		list-style-type: decimal;
		margin-left: 20px;
		li {
			float: left;
			margin-bottom: 15px;
			clear: left;
			font-size: 1.6em;
			line-height: 1.8em;
		}
	}	
	ul {
		float: left;
		clear: left;
		list-style-type: none;
		margin-left: 0px;
		li {
			float: left;
			margin-bottom: 15px;
			clear: left;
		}
		ul {
			margin-left: 20px;
			margin-top: 20px;
		}
	}
}

