<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<title>AmonOne</title>

		<link rel="stylesheet" href="{{ site.url }}/stylesheets/styles.css">
		<link rel="stylesheet" href="{{ site.url }}/stylesheets/slider.css">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body> 
		<header>
			<div class="wrapper">
				<a class='logo' href="/"></a>
				<a href="https://github.com/martinrusev/amonone" class="button">Github</a>
				<a href="https://amon.cx" class='button'>Amon</a>
			</div>
			
		</header>
		
<div id="column-wrapper">
	<div id="content">{{ content| markdownify }}</div>
</div><!-- column-wrapper END -->

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="{{ site.url }}/js/jquery.scrollNav.min.js"></script>
<script type="text/javascript">
$(window).load(function() {
	$('#content').scrollNav({
		showHeadline: false,
		showTopLink: false,
		sections: 'h1', 
	});
});
</script>
</body>
</html>
